PASSWORD=ubuntu
PUB_KEY=ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCsBxuLygEz/oXh5Z983ERsz1qs2hfpuyFH/dZMeqXJyJNWPo/Q+5+nh+Jkm3BU1ue4tjFcsZIAEm/Hlg14btaPNDUpxuCRkpSXhdINa1Q0uoBTGuPY4mZyhAQtLWJYbiyyKBrVsR59mhQoHT3aVq6W/EJbUI+4rWkxIAsaSD6QocaU4gpQigmzj2sekPM0tHaSc+u7NMc2VyEEYNXgcYZyNNYtgRJxf9rIPgy2MnrKZ9wZrDVcQ889WlpArBDz0K6TcL7itSfvxyvNCsl/7t1poYRkp8Jrh6az+Eeh2ya3LXL9PGHf/bXBHl2yikHDvwcjZELsf03WAHiRlhckr7QYdhaXpXe+ECGsKUrq1wrkOB7hZoouzUKpsMI0Gzxiem8foukSaqSsd3lqGe5NqI15lO615s/eUH11IElrabL/uS9loctn9TNsa5gh+Dw+UAncwoI/4QSm876ubo22oe3pbHtNQit/TTvE6hIwFvUtBM19ciXlxL4zeUQV6vjpvgr+oDMBrZ6VyhF6rNsSHOnc+vcVVnLbGPyY64gS9sg8I9UPscjGwVsSblLdjtpVKmZKXKg2omLETJuGbGMhVGz75gvI6ruMnoep0gHzDiDqqesw9I7Kb9q2DLRQWAyRROsFksaxZaRl84ezKpH8ow8som0MkC7n+vtKecJU6XwxkQ== simple
USERNAME=ubuntu
INSTALL_SSH_SERVER=false
